body{
  background-color: #F1FFE8;
}
.navigation ul {
  list-style-type: none;
  padding: 0px;
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: center;
}

.navigation a{
  float: left;
  display: block;
  text-align: center;
  width: 100px; /* fixed width */
  text-decoration: none;
  color: white;
}
a{
  color: #7F6EAC;
}
a:hover{
  background-color: #B3B6E3;
  color:white;
}

.navigation {
  background-color: #D8D5ED;
  border-top: solid #B3B6E3;
  margin-top: auto;
  margin-bottom: auto;
  border-bottom: solid #B3B6E3 1px;
}

* {
  box-sizing: border-box;
}
.leftcolumn{
  float:left;
  padding: 20px;
  flex:50%;
  text-align: center;
}
.rightcolumn{
  float:left;
  padding: 40px;
  flex:50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

th{
  text-align: left;
  
}
td{
  text-align: right;
}

.lowerright{
  text-align: right;
}
.lowerleft{
  width: 80%;
  text-align: left;
}



.leftcolumn img {
  margin-top: 40px;
  margin-bottom: 10px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.leftcolumn ul {
  margin: 0px;
  list-style-type: none;
}

.leftcolumn li {
  text-align: center;
}

/*#right {
  padding: 40px;
}*/
.vertical {
  border-right: 1px solid #B3B6E3;
  height: 100%;
}


.footer {
  border-top: 1px solid #B3B6E3;
  position:absolute;
  left: 0;
  bottom:0;
  width:100%;
  text-align:center;

  /*display: flex;
  border-top: solid 1px #B3B6E3;
  flex-wrap: wrap;
  justify-content: center;*/
}
.footer p {
  width: 500px;
  height: 20px;
  background: linear-gradient(white, #D8D5ED);
  margin-left:auto;
  margin-right:auto;
}*/

progress{
  width: 200%;
  height: 20px;
}

/*hello*/
