body{
  background-color: #F1FFE8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navigation {
  background-color: #D8D5ED;
  border-top: solid #B3B6E3;
  border-bottom: solid #B3B6E3 1px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#navigation ul {
  display: flex;
  list-style-type: none;
  padding: 0px;
  overflow: hidden;
  align-items: center;
}

#navigation a{
  display:block;
  width: 100px; /* fixed width */
  text-align: center;
  text-decoration: none;
  color: white;
  flex: 1;
}

a{
  color: #7F6EAC;
}

a:hover{
  background-color: #B3B6E3;
  color:white;
}

.row {
  display: flex;
  /*width: 100%;*/
}

.leftcolumn{
  flex:50%;
  text-align: center;
  /*width: 50%;*/
  padding: 50px;
}

.rightcolumn{
  width: 50%;
  padding: 50px;
}

th{
  text-align: left;
}

td{
  text-align: right;
}

.lowerright{
  text-align: right;
}

.lowerleft{
  width: 80%;
  text-align: left;
}


#left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

img {
  text-align:center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

#left ul {
    margin: 0px;
    margin-left:-42px; 
    list-style-type: none;
    text-align: center;
    width: 100%;
}



.vertical {
  border-left: 1px solid #B3B6E3;
  height: 75%;
  margin-bottom: 2%;
  margin-top:2%;
  position: absolute;
  left: 50%;
}

@media only screen and (max-width: 800px) {
  .vertical{
    transform: rotate(90deg);
    border-bottom: 1px solid #B3B6E3;
    height: 800px;
    border-right:transparent;
  }
  .row {
    flex-direction: column;
  }
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #B3B6E3;
    text-align: center;
    padding: 10px;
    background-color: #F1FFE8;
}

.footer p {
  margin: 0;
  padding: 10px;
  width: 400px;
  height: 10px;
  background: linear-gradient(white, #D8D5ED);
  margin-left:auto;
  margin-right:auto;
}

  
progress{
    width: 200%;
    height: 20px;
}
